<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
   <header th:fragment="headerHome()">
	  <nav class="navbar navbar-expand-md bg-body-tertiary">
         <div class=" container-md ">
            <h4>
		       Best of 
	        </h4>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
					<button type="button" class="btn btn-success btn-sm" style="height: 30px;width: 130px;"
					    th:insert = "fragment :: button('/', 'Home Page')"
					>
						Home Page
					</button>
                </div>
             </div>
          </div>
        </nav>
	</header>
</body>
</html>